extends layout

block content
    body
        header(id="top" class = "header")
            div(class = "text-vertical-center")
                h1= "IT'S YOU ONLINE"
                h3= 'A simple walkthrough'
                a(class="btn btn-dark btn-lg",href="#{loginUrl}") login

